{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success text-while">
                <h4><i class="bi bi-person-plus"></i>Register</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="bi bi-person-plus"></i>Register
                    </button>
                </form>
                <hr>
                <p class="text-center">
                    Do you have an account? <a href="{% url 'login' %}">Login here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}